.card_div {
    height: 15em;
    // box-shadow: 0px 2px 10px 5px #ddd;
    border-radius: 5px;
    // border-bottom: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    margin-bottom: 0.5em;
    // margin-right: 0.5em;
}

.card_inner {
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
}

.hide {
    display: none;
}